<nav>
  <div class="nav-wrapper">
    <!-- Left-aligned links -->
    <ul style="padding-left: 2rem;" class="left hide-on-med-and-down navbar-links">
      <li><a href="/">TechTravel Itinerary</a></li>
      <li><a href="/itinerary">Itineraries</a></li>
      <li><a href="/tracker">Transit Tracker</a></li>
      <li><a href="/"><i class="material-icons">search</i></a></li>
    </ul>
    <!-- Right-aligned buttons -->
    <% if (isAuthenticated) { %>
      <!-- Display logout button -->
      <ul style="padding-right: 2rem;" class="right hide-on-med-and-down">
        <li><a style="color: black" class="btn white" href="/profile">Profile</a></li>
        <li><a class="btn black" href="/logout">Logout</a></li>
      </ul>
    <% } else { %>
      <!-- Display login/signup buttons -->
      <ul style="padding-right: 2rem;" class="right hide-on-med-and-down">
        <li><a style="color: black" class="btn white" href="/login">Login</a></li>
        <li><a class="btn black" href="/register">Sign Up</a></li>
      </ul>
    <% } %>

    <!-- Mobile navbar trigger -->
    <a href="#" data-target="mobile-nav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
  </div>
</nav>

<!-- Mobile Navigation -->
<ul class="sidenav" id="mobile-nav">
  <!-- Left-aligned links -->
  <li><a href="/">TechTravel</a></li>
  <li><a href="/itinerary">Itineraries</a></li>
  <li><a href="/tracker">Transit Tracker</a></li>
  <li><a href="/"><i class="material-icons">search</i></a></li>
  <!-- Right-aligned buttons -->
  <% if (isAuthenticated) { %>
    <!-- Display logout button -->
    <li><a href="/profile">Profile</a></li>
    <li><a href="/logout">Logout</a></li>
  <% } else { %>
    <!-- Display login/signup buttons -->
    <li><a href="/login">Login</a></li>
    <li><a href="/register">Sign Up</a></li>
  <% } %>
</ul>

<script>
  document.addEventListener('DOMContentLoaded', function() {
    // Initialize sidenav
    var elems = document.querySelectorAll('.sidenav');
    var instances = M.Sidenav.init(elems);
  });
</script>
<link rel="stylesheet" href="/stylesheets/header.css">