<nav>
  <div class="nav-wrapper">
    <!-- Left-aligned links -->
    <ul style="padding-left: 2rem;" class="left hide-on-med-and-down navbar-links">
      <li><a href="/">TechTravel</a></li>
      <li><a href="itinerary">Itineraries</a></li>
      <li><a href="tracker">Transit Tracker</a></li>
      <li><a href="search"><i class="material-icons">search</i></a></li>
    </ul>
    <!-- Right-aligned buttons -->
    <% if (isAuthenticated) { %>
      <!-- Display logout button -->
      <ul style="padding-right: 2rem;" class="right hide-on-med-and-down">
        <li><a style="color: black" class="btn white" href="logout">Logout</a></li>
      </ul>
    <% } else { %>
      <!-- Display login/signup buttons -->
      <ul style="padding-right: 2rem;" class="right hide-on-med-and-down">
        <li><a style="color: black" class="btn white" href="login">Login</a></li>
        <li><a class="btn black" href="register">Sign Up</a></li>
      </ul>
    <% } %>

    <!-- Mobile navbar trigger -->
    <a href="#" data-target="mobile-nav" class="sidenav-trigger"><i class="material-icons">menu</i></a>
  </div>
</nav>
<link rel="stylesheet" href="/stylesheets/header.css">