<%- include('./partials/head') %>
<%- include('./partials/header') %>

<body>
  <div class="container">
    <h4><%- cityName %></h4>
  </div>
</body>
<link rel="stylesheet" href="/stylesheets/city.css">