<%- include('./partials/head') %>
<%- include('./partials/header') %>

<body>
  <div class="container center-align"> 
    <img src="/images/logo.png" alt="logo"></img>

    <h5 class="white-text">Every trip needs a proper itinerary, begin here by searching for your first city.</h5>

    <div style="margin-top: 3rem;" class="input-field">
      <i class="material-icons prefix search-icon">search</i>
      <input type="text" class="autocomplete">
    </div>
  </div>

  <script src="/scripts/home.js"></script>
</body>
<link rel="stylesheet" href="/stylesheets/home.css">