<%- include('./partials/head') %>
<%- include('./partials/header') %>

<body>
  <div class="container center-align"> 
    <img src="/images/logo.png" alt="logo"></img>

    <h6>Every trip needs a proper itinerary, begin here by searching for your first city.</h6>
    <div class="input-field">
      <i class="material-icons prefix">search</i>
      <input id="icon_prefix" type="text" class="validate border">
    </div>
  </div>
</body>
<link rel="stylesheet" href="/stylesheets/home.css">