<%- include('./partials/head') %>
<%- include('./partials/header') %>

<body>
    <div class="container center-align">
      <h5 class="white-text" type="center-align">Your Itinerary Starts Here!</h5>
      <div class="input-field">
        <label class="a" for="tripLength">Start Date:</label>
        <input type="date" id="tripLength" name="tripLength"><br><br>
        <!--<select id="itineraryDropdown"> </select>-->
      </dive>
    </div>
  </body>
  <link rel="stylesheet" href="/stylesheets/itinerary.css">