<%- include('./partials/head') %>
<%- include('./partials/header') %>

<body>
  <div class="container center-align">
   <!-- <h4>Itinerary Page</h4> -->
    <h5 class="white-text" type="center-align" style="font-size:xx-large;">Welcome to the Itinerary Hub!</h5>
    <p type="center-align" style="font-size:x-large;">Current Itineraries Are Below:</p>

    <!-- Check if array is empty or not -->
    <% if (itineraries.length > 0) { %>
      <ul class="a" style="padding-right: 2rem;" font-size = "50px">
        <% itineraries.forEach(function(itinerary) { %>
          <li class="a">
            <%= itinerary.itineraryName %>
            <a href="/itinerary/<%= itinerary._id %>" class="button button">View</a>
            <button class="button button">Share</button>
            <button class="button button">Delete</button>
          </li>
        <% }); %>
      </ul>
    <% } else { %>
      <h2>No itineraries found.</h2>
    <% } %>

    <a href="itinerary/create">
      <button class="button button" style = "width:60%;">Create A New Itinerary</button>
    </a>
  </div>
</body>
<link rel="stylesheet" href="/stylesheets/itinerary.css">