<%- include('./partials/head') %>
<%- include('./partials/header') %>

<body>
  <div class="container center-align">
   <!-- <h4>Itinerary Page</h4> -->
    <h5 class="white-text" type="center-align">Welcome to the Itinerary Hub!</h5>
    <a href="itinerary/create">
      <button class="button button">Create An Itinerary</button>
    </a>
    <a href="itinerary/view">
      <button class="button button">View Your Itineraries</button>
    </a>
    <a href="itinerary/edit">
      <button class="button button">Edit An Itinerary</button>
    </a>
  </div>
</body>
<link rel="stylesheet" href="/stylesheets/itinerary.css">