<%- include('./partials/head') %>
<%- include('./partials/header') %>

<body>
  <div class="container center-align">
   <!-- <h4>Itinerary Page</h4> -->
    <h5 class="white-text" type="center-align">Welcome to the Itinerary Hub!</h5>
    <ul class="ul ul" style="padding-right: 2rem;" font-size = "50px">
      <li></listyle>Spurn of the Moment Trip to LA<button class="button button" style="display: inline-block;">View</button><button class="button button" style="display: inline-block;">Edit</button></li>
      <li></listyle>Wicked Escapade into the Chicago Jungle<button class="button button" style="display: inline-block;">View</button><button class="button button" style="display: inline-block;">Edit</button></li>
      <li></listyle>Scenic Train Trip to Oakland<button class="button button" style="display: inline-block;">View</button><button class="button button" style="display: inline-block;">Edit</button></li>
    </ul>
    <a href="itinerary/create">
      <button class="button button" style="display: inline-block; width:50%;">Create A New Itinerary</button>
    </a>
  </div>
</body>
<link rel="stylesheet" href="/stylesheets/itinerary.css">