<%- include('./partials/head') %>
<%- include('./partials/header') %>

<body>
    <h4>Personal Information</h4>
    <img src="/images/user.png" alt="Profile Picture" class="avatar">
    <h5><%= displayName %></h5>
</body>

<link rel="stylesheet" href="/stylesheets/personal.css">