<%- include('./partials/head') %>
  <%- include('./partials/header') %>

    <body>
      <h3>Preferences</h3>
      <div class="bg-text container input-field col s12">
        <h4>Itinerary Preferences</h4>
        <form action="#">
          <p>
            <label>
              <input type="checkbox" id="center" />
              <span>Allow Home City to be used for itinerary</span><br>
            </label>
          </p>
          <p>
            <label>
              <input type="checkbox" name="eh" id="center" />
              <span>Allow Itineraries to be viewed by others</span>
            </label>
          </p>
          <p>
            <label>
              <input type="checkbox" id="center" />
              <span>Allow Link to be generated in order to share your Itineraries</span>
            </label>
          </p>
        </form>
        <h4>Travel Preferences</h4>



      <script src="/public/scripts/preferences.js"></script>

    </body>

    <link rel="stylesheet" href="/stylesheets/preferences.css">