<%- include('./partials/head') %>
    <%- include('./partials/header') %>

        <body>
            <h3>Preferences</h3>

            <h4>Itinerary Preferences</h4>
            <form action="#">
                <p>
                    <label>
                      <input id="center" type="checkbox" />
                      <span>Red</span>
                    </label>
                  </p>
            </form>
        </body>

        <link rel="stylesheet" href="/stylesheets/preferences.css">