<%- include('./partials/head') %>
<%- include('./partials/header') %>

<head>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
  
  <div class="bg-text container">
    <img src="/images/user.png" alt="Profile Picture" class="avatar">
    <h5><%= displayName %></h5>

    <ul>
      <li class=".buttonCenter"><a class="waves-effect waves-light btn-large buttonCenter" href="/profile/personal">Personal Information</a></li>
      <li class=".buttonCenter"><a class="waves-effect waves-light btn-large buttonCenter" href="/profile/preferences">Preferences</a></li>
      <li class=".buttonCenter"><a class="waves-effect waves-light btn-large buttonCenter" href="/profile/trips">Trips</a></li>
      <li class=".buttonCenter"><a class="waves-effect waves-light btn-large buttonCenter" href="/itinerary">Itineraries</a></li>
    </ul>

    <!-- <h6><%= displayName %></h6> -->
  </div>
</body>
<link rel="stylesheet" href="/stylesheets/profile.css">