<%- include('./partials/head') %>
<%- include('./partials/header') %>

<body>
  <div class="container">
    <h4>Profile Page</h4>

    <h6><%= displayName %></h6>
  </div>
</body>
<link rel="stylesheet" href="/stylesheets/profile.css">