<%- include('./partials/head') %>
<%- include('./partials/header') %>
<body>
    <% if(typeof(message) != "undefined") { %>
        <script>
            document.addEventListener('DOMContentLoaded', function() {
                // Toast function
                function showToast(message) {
                    M.toast({html: message, displayLength: 2000});
                }
                // Call toast function with the message
                showToast('<%= message %>');
            });
        </script>
    <% } %>

	<div class="row">
        <h4 style="text-align: center">Create your account</h4>
        <div style="width: 30%; margin: 25px auto;">
            <form action="/register" method="post">
                <div class="form-group">
                    <input class="form-control" type="text" name="username" placeholder="Username" required>
                </div>
                <div class="form-group">
                    <input class="form-control" type="password" name="password" placeholder="Password" required>
                </div>
                
                <div id="displayName" class="form-group">
                    <input class="form-control" type="text" name="displayName" placeholder="Display Name" required>
                </div>

                <div id="homeCity" class="form-group">
                    <input class="form-control" type="text" name="homeCity" placeholder="Enter your home city (e.g., New York, London)" required>
                </div>

                <div class="form-group" id="submit">
                    <button class="btn btn-primary btn-block">Sign Up!</button>
                </div>
            </form>

            <div class="login-section">Already have an account? <a href="/login" class="text-info">Log In</a></div>
        </div>
    </div>

    <link rel="stylesheet" href="/stylesheets/register.css">
</body>

<script src="/scripts/register.js"></script>