<%- include('./partials/head') %>
<%- include('./partials/header') %>

<body>
  <div class="container">
    <h4>Search Page</h4>
  </div>
</body>
<link rel="stylesheet" href="/stylesheets/search.css">