/* Transparent grayish background */
nav {
  background-color: #808080; /* Adjust opacity as needed */
}

.main-content {
  padding: 4rem;
}

body {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}