/* HOME Page CSS */
body {
    background-image: url(/images/pexels-joyston-judah-933054.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    color: white;
}

.input-field {
  color: white;
}

/* Custom CSS for input field color change */
.input-field input[type=text] {
  color: white; /* Set default text color */
}

.input-field input[type=text]:focus {
  border-bottom: 1px solid white !important;
  box-shadow: 0 1px 0 0 white !important;
  color: white;
}

.search-icon.active {
  color: white !important;
}

.search-icon {
  color: #8F8F8F;
}

img {
    width: 40%;
    margin-top: 3rem;
}

footer{
  margin-top: 17rem;
}