/* ITINERARY Page CSS */
@font-face {
    font-family: 'Lato';
    src: url('fonts/Lato/Lato-Regular.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
  }

  body {
    background-color: rgba(29, 29, 31, 0.86);
    font-family: 'Lato';
    color: white;
  }

/* Custom CSS for the buttons */
.button {
    border: none;
    color: black;
    background-color: white;
    padding: 10px 24px;
    text-align: center;
    text-decoration: none;
    font-size: 50px !important;
    width: 100%;
    margin: 6px 4px !important;
    border-radius: 12px!important;
    align-items: center!important;
    display: block;
    transition-duration: 0.4s;
    cursor: pointer;
}
.button:hover {
    background-color: #04AA6D; /* Green */
    color: white;
}