/* ITINERARY Page CSS */
@font-face {
    font-family: 'Lato';
    src: url('fonts/Lato/Lato-Regular.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
  }

  body {
    background-color: rgba(29, 29, 31, 0.86);
    font-family: 'Lato';
    color: white;
  }

/* Custom CSS for the labels */
label.a {
  background: rgba(75, 75, 75, 0.40);
  color: white;
  text-align: center!important;
  font-size: 20px !important;
  padding: 8px 10px;
  border-radius: 15px!important;
}

/* Custom CSS for the inputs */
.input-field input{
  color: white;
  font-size: 20px !important;
  padding: 4px 5px;
  width: 50%;
}

/* Custom CSS for the lists */
ul.a {
  /*list-style-image: url('sqpurple.gif');*/
  background: rgba(75, 75, 75, 0.40);
  align-items: center!important;
  list-style-type: circle!important;
  padding: 16px 12px;
  margin: 10px 64px;
  font-size: 20px !important;
  border-radius: 40px!important;
}

ul li.a {
  background: rgba(0, 0, 0, 0.25); /* Adjust opacity as needed */
  color: white;
  padding: 8px 6px;
  margin: 14px 16px;
  display: block;
  border-radius: 40px!important;
  font-size: 20px !important;
  align-items: center!important;
}
/* This allows the lists to be side by side */
.row{clear:both}

.column{
    width: 50%;
    float: left;
}

/* Custom CSS for the buttons */
.button {
    border: none;
    color: black;
    background-color: white;
    padding: 8px 10px;
    text-align: center!important;
    text-decoration: none;
    font-size: 20px !important;
    margin: 6px 10px !important;
    border-radius: 16px!important;
    align-items: center!important;
    display: inline-block;
    transition-duration: 0.4s;
    cursor: pointer;
}

.button:hover {
    background-color: #04AA6D; /* Green */
    color: white;
}