/* TRACKER Page CSS */
@font-face {
    font-family: 'Lato';
    src: url('fonts/Lato/Lato-Regular.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
  }

body {
  background-color: rgba(29, 29, 31, 0.86);
  font-family: 'Lato';
  color: white;
}